@import 'unpoly';
@import '@docsearch/css';

/* Gray colors */
@import '@radix-ui/colors/sand.css';
@import '@radix-ui/colors/sand-alpha.css';
@import '@radix-ui/colors/sand-dark.css';
@import '@radix-ui/colors/sand-dark-alpha.css';

/* Accent colors */
@import '@radix-ui/colors/brown.css';
@import '@radix-ui/colors/brown-alpha.css';
@import '@radix-ui/colors/brown-dark.css';
@import '@radix-ui/colors/brown-dark-alpha.css';

/* Interface colors */
@import '@radix-ui/colors/brown-alpha.css';
@import '@radix-ui/colors/iris-alpha.css';
@import '@radix-ui/colors/brown-dark-alpha.css';
@import '@radix-ui/colors/iris-dark-alpha.css';

@import '@dimerapp/docs-theme/styles';

:root {
  --logo-width: 85px;
  --font-mono: 'Roboto Mono';
  --sidebar-width: 280px;
  --sidebar-anchor-padding-left: 25px;
  --sidebar-anchor-padding-right: 25px;
  --sidebar-title-padding-left: 25px;
  --sidebar-title-padding-right: 25px;

  --neutral-gray-1: var(--sand-1);
  --neutral-gray-2: var(--sand-2);
  --neutral-gray-3: var(--sand-3);
  --neutral-gray-4: var(--sand-4);
  --neutral-gray-5: var(--sand-5);
  --neutral-gray-6: var(--sand-6);
  --neutral-gray-7: var(--sand-7);
  --neutral-gray-8: var(--sand-8);
  --neutral-gray-9: var(--sand-9);
  --neutral-gray-10: var(--sand-10);
  --neutral-gray-11: var(--sand-11);
  --neutral-gray-12: var(--sand-12);

  --neutral-gray-a1: var(--sand-a1);
  --neutral-gray-a2: var(--sand-a2);
  --neutral-gray-a3: var(--sand-a3);
  --neutral-gray-a4: var(--sand-a4);
  --neutral-gray-a5: var(--sand-a5);
  --neutral-gray-a6: var(--sand-a6);
  --neutral-gray-a7: var(--sand-a7);
  --neutral-gray-a8: var(--sand-a8);
  --neutral-gray-a9: var(--sand-a9);
  --neutral-gray-a10: var(--sand-a10);
  --neutral-gray-a11: var(--sand-a11);
  --neutral-gray-a12: var(--sand-a12);

  --accent-1: var(--brown-1);
  --accent-2: var(--brown-2);
  --accent-3: var(--brown-3);
  --accent-4: var(--brown-4);
  --accent-5: var(--brown-5);
  --accent-6: var(--brown-6);
  --accent-7: var(--brown-7);
  --accent-8: var(--brown-8);
  --accent-9: var(--brown-9);
  --accent-10: var(--brown-10);
  --accent-11: var(--brown-11);
  --accent-12: var(--brown-12);

  --accent-a1: var(--brown-a1);
  --accent-a2: var(--brown-a2);
  --accent-a3: var(--brown-a3);
  --accent-a4: var(--brown-a4);
  --accent-a5: var(--brown-a5);
  --accent-a6: var(--brown-a6);
  --accent-a7: var(--brown-a7);
  --accent-a8: var(--brown-a8);
  --accent-a9: var(--brown-a9);
  --accent-a10: var(--brown-a10);
  --accent-a11: var(--brown-a11);
  --accent-a12: var(--brown-a12);

  --sidebar-active-link-text-color: var(--iris-12);
}

html.dark {
  --neutral-gray-1: var(--sand-1);
  --neutral-gray-2: var(--sand-2);
  --neutral-gray-3: var(--sand-3);
  --neutral-gray-4: var(--sand-4);
  --neutral-gray-5: var(--sand-5);
  --neutral-gray-6: var(--sand-6);
  --neutral-gray-7: var(--sand-7);
  --neutral-gray-8: var(--sand-8);
  --neutral-gray-9: var(--sand-9);
  --neutral-gray-10: var(--sand-10);
  --neutral-gray-11: var(--sand-11);
  --neutral-gray-12: var(--sand-12);

  --neutral-gray-a1: var(--sand-a1);
  --neutral-gray-a2: var(--sand-a2);
  --neutral-gray-a3: var(--sand-a3);
  --neutral-gray-a4: var(--sand-a4);
  --neutral-gray-a5: var(--sand-a5);
  --neutral-gray-a6: var(--sand-a6);
  --neutral-gray-a7: var(--sand-a7);
  --neutral-gray-a8: var(--sand-a8);
  --neutral-gray-a9: var(--sand-a9);
  --neutral-gray-a10: var(--sand-a10);
  --neutral-gray-a11: var(--sand-a11);
  --neutral-gray-a12: var(--sand-a12);

  --accent-1: var(--brown-1);
  --accent-2: var(--brown-2);
  --accent-3: var(--brown-3);
  --accent-4: var(--brown-4);
  --accent-5: var(--brown-5);
  --accent-6: var(--brown-6);
  --accent-7: var(--brown-7);
  --accent-8: var(--brown-8);
  --accent-9: var(--brown-9);
  --accent-10: var(--brown-10);
  --accent-11: var(--brown-11);
  --accent-12: var(--brown-12);

  --accent-a1: var(--brown-a1);
  --accent-a2: var(--brown-a2);
  --accent-a3: var(--brown-a3);
  --accent-a4: var(--brown-a4);
  --accent-a5: var(--brown-a5);
  --accent-a6: var(--brown-a6);
  --accent-a7: var(--brown-a7);
  --accent-a8: var(--brown-a8);
  --accent-a9: var(--brown-a9);
  --accent-a10: var(--brown-a10);
  --accent-a11: var(--brown-a11);
  --accent-a12: var(--brown-a12);
}
